{% extends "layout.html" %}

{% block title %}
Hard
{% endblock %}

{% block main %}
<form action="/results" method="post">
    <div>
        {% for row in range(hard_qs|length) %}
            <p>{{ hard_qs[row][1] }}</p>
            <input name="id{{ hard_qs[row][0] }}" type="hidden" value="{{ hard_qs[row][0] }}">
            <input name="level" type="hidden" value="hard">
            <input name="question{{ row }}" type="radio" value="{{ hard_qs[row][2] }}">{{ hard_qs[row][2] }}<br>
            <input name="question{{ row }}" type="radio" value="{{ hard_qs[row][3] }}">{{ hard_qs[row][3] }}<br>
            <input name="question{{ row }}" type="radio" value="{{ hard_qs[row][4] }}">{{ hard_qs[row][4] }}<br>
            <input name="question{{ row }}" type="radio" value="{{ hard_qs[row][5] }}">{{ hard_qs[row][5] }}<br>
        <br>
        {% endfor %}
    </div>
    <input type="submit">
</form>
{% endblock %}