<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quiz Game: {% block title %}{% endblock %}</title>

    <!-- External CSS file -->
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>

    {% block top_content %}{% endblock %}
    
    <!-- Centered header -->
    <h1 class="center-text bg-purple">Choose a level:</h1>

    <!-- Centered table with links -->
    <nav class="center-table">
        <ul>
            <li class="center-text">
                <a href="/" class="btn btn-home">🏠 Home</a></li>
            <li class="center-text">
                <a href="/easy" class="btn btn-green">Easy</a></li>
            <li class="center-text">
                <a href="/medium" class="btn btn-yellow">Medium</a></li>
            <li class="center-text">
                <a href="/hard" class="btn btn-red">Hard</a></li>
        </ul>
    </nav>

    {% block main %}{% endblock %}

    <!-- TODO: Refactor for organization and efficiency -->
</body>
</html>