<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quiz Game: {% block title %}{% endblock %}</title>

    <!-- External CSS file -->
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
    <!-- Centered header -->
    <h1 class="center-text bg-purple">Choose a level:</h1>

    <!-- Centered table with links -->
    <nav class="center-table">
        <ul>
            <li class="center-text"><a href="/easy">Easy</a></li>
            <li class="center-text"><a href="/medium">Medium</a></li>
            <li class="center-text"><a href="/hard">Hard</a></li>
        </ul>
    </nav>

    <div class="bg-pink">
        {% block main %}{% endblock %}
    </div>
</body>
</html>