{% extends "layout.html" %}

{% block title %}
    {{ level|capitalize }}
{% endblock %}

{% block main %}
<div class="card bg-pink">
    <form action="/results" method="post">
        <input name="level" type="hidden" value="{{ level }}">
        <div>
            {# Iterate through questions using index 'row' to generate unique input names #}
            {% for row in range(questions|length) %}

                {# Data Structure: [0]=id, [1]=question text, [2-5]=shuffled options #}
                <p>{{ questions[row][1] }}</p>
                <input name="question{{ row }}" type="radio" value="{{ questions[row][2] }}">{{ questions[row][2] }}<br>
                <input name="question{{ row }}" type="radio" value="{{ questions[row][3] }}">{{ questions[row][3] }}<br>
                <input name="question{{ row }}" type="radio" value="{{ questions[row][4] }}">{{ questions[row][4] }}<br>
                <input name="question{{ row }}" type="radio" value="{{ questions[row][5] }}">{{ questions[row][5] }}<br>
            <br>
            {% endfor %}
        </div>
        <input type="submit" class="btn btn-purple" value="Submit">
    </form>
</div>
{% endblock %}
